<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="login.component.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/e7efa2e766.js" crossorigin="anonymous"></script>



</head>
<body>

    <form action="Login form.html" class="login-form">
    <h1>Login</h1>
    <div class="txtb">
        <input type="text">
        <span data-placeholder="UserName"></span>
    </div>

    <div class="txtb">
        <input type="password">
        <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="logbtn" value="Login">

    <div class="bottom-text">
        Forgot Password? <a href="#" class="hover">Click</a> <br>
        Don't have account? <a href="#" class="hover">Sign up</a>
    </div>
    <div class="logo">


    </div>
 <div class="footer">
    <a href="#"><i class="fab fa-facebook-f"></i>
    <a href="#"><i class="fab fa-instagram"></i>
    <a href="#"><i class="fab fa-twitter"></i>
 </div>
</form>


<script type="text/javascript">
$(".txtb input").on("focus",function(){
    $(this).addClass("focus");
});

$(".txtb input").on("blur",function(){
    if($(this).val() == "")
    $(this).removeClass("focus");
});

</script>

</body>